/* Calendar */
:root {
    --fc-border-color: #D5D4DF;

    --fc-button-text-color: #2c0404cc;
    --fc-button-bg-color: transparent;
    --fc-button-border-color: transparent;
    --fc-button-hover-bg-color: transparent;
    --fc-button-hover-border-color: transparent;
    --fc-button-active-bg-color: transparent;
    --fc-button-active-border-color: transparent;

    --fc-event-text-color: #2c0404cc;
    --fc-today-bg-color: #FFD900;
}


.wrapper{
    width: 1005px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 25px;
    color:#2c0404cc;
    background: linear-gradient(#FFD900 34%,#FF951D);
    box-shadow: 0px 8px 12px 4px rgba(44, 4, 4, 0.15);
    
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(240,240,246);
    background: linear-gradient(8deg, rgba(240,240,246,1) 0%, rgba(255,255,255,1) 15%);
}


p{margin: 0;}


ul{
    list-style-type: none;
    padding: 0;
}


.main-area{
   display: grid;
   width: 638px;
   height: 601px;
   padding: 24px;
   gap: 15px;
   border: 1px solid #EEE6DA;
   border-radius: 25px;
   background-color: rgba(248, 255, 207, 0.5);
   position: relative;


   #carrossel-disciplina {
        width: 280px; 
        height: 554px;
        padding: 22px 18px; 
        background-color: rgb(254, 253, 245);
        border: 1px solid #EEE6DA;
        grid-column: 1;
        grid-row: 1 / span 2;
        border-radius: 25px;
        box-shadow: 0 2px 4px 1px rgba(44, 4, 4, 0.1);

        .titulo-disciplina{
            text-align: center;
            margin-inline: auto;
            margin-bottom: 1.5rem;
            width: 175px;
            border: 1px solid rgba(44, 4, 4, 0.1);
            border-radius: 10px;
            padding:4px;
        }
        
        .carousel-item > .conteudos{
            max-height: 420px;
            overflow-y: scroll;
            
            div{
                height: 125px;
                overflow: scroll;
                margin-bottom: 1rem;
                margin-right: 0.75rem;
                background-color: #ffffff;
                border: 1px solid #D5D4DF;
                border-radius: 0.75rem;
                padding: 0.75rem 1rem;

                p,li{
                    font-size: 12px;
                }

                li{
                    display: flex;
                    gap: 0.5rem;
                    margin-bottom: 0.75rem;
                }
            }

        }

    }

    #proximos-conteudos, #proximas-atividades{
        width: 280px;
        height: 280px;
        padding: 18px 18px 0 18px;
        border-radius: 25px;
        border: 1px solid #EEE6DA;
        background-color: rgb(254, 253, 245);
        box-shadow: 0 2px 4px 1px rgba(44, 4, 4, 0.1);

        ul{
            height: 85%;
            overflow-y: scroll;
        }

        li{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            height: 3rem;
            margin-bottom: 0.75rem;
            background-color: #ffffff;
            border: 1px solid #D5D4DF;
            border-radius: 15px;
            padding: 0.25rem 1rem;
            font-size: 14px;
        }
    }

    #proximos-conteudos{
        grid-column: 2;
        grid-row: 1;
        height: 260px;
    }

}


.estrela{
    position: absolute;
    top: -30px;
    left: -45px;
}


.estrela:hover{
    animation: tilt-shaking 0.25s infinite;
}


.linha-vertical{
    width: 0.25rem;
    height: 16px;
    margin: auto 0;
    border-radius: 5px;
    border: 1px solid rgba(44, 4, 4, 0.1);
}


.horario{
    width: 638px;
    height: 293px;
    padding: 22px 30px;
    border: 1px solid #EEE6DA;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px 1px rgba(44, 4, 4, 0.1);

    table{border-color: rgba(44, 4, 4, 0.2);}

    th{
        width: 96px;
        height: 19px;
        padding: 0;
        font-size: 12px;
        text-align: center;
        color: #2C0404;
        background-color: rgba(255, 255, 255, 0.75);
    }

    td{
        width: 96px;
        height: 38px;
        font-size: 10px;
        text-align: center;
        padding: 0;
        color: #2C0404;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0.75);
    }
}


#imagens{ 
    img{
        width: 308px;
        height: 290px;
        object-fit: cover;
        border-radius: 25px;
        box-shadow: 0 2px 4px 1px rgba(44, 4, 4, 0.1);
    }
}


.calendario{
    width: 308px;
    height: 290px;
    border: 1px solid #EEE6DA;
    border-radius: 25px;
    background-color: white;
    padding: 0.5rem 1rem;

    #calendar{height: 100%;}
    a{
        color: #2c0404cc;
        text-decoration: none;
    }

    .fc-button{
        border: none;
    }

    .fc-button:hover{
        background: transparent;
        color: #2c0404cc;
    }

    .fc-toolbar.fc-header-toolbar{
        margin-bottom: 0rem;
    }

    .fc-toolbar-title{
        font-size: 1rem;
    }

    .fc-col-header-cell,
    .fc-col-header-cell-cushion,
    .fc-daygrid-day-number,
    .fc-daygrid-day-events{
        font-size: 0.75rem;
        text-decoration: none;
        padding: 0;
        margin: auto;
    }

    /* td{height: 2.5rem;} */

}


#progresso{
    display: grid;
    width: 308px;
    height: 290px;
    gap: 1rem;
    padding: 18px;
    border: 1px solid #EEE6DA;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.80);

    h6{
        height: fit-content;
        margin: 0;
    }
}


@property --progress{
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0%;
}


.progress-bar{

    --size: 132px;
    --bar-width: 25px;

    font-size: 2rem;
    width: var(--size);
    height: var(--size);

    background: conic-gradient(#95d86b var(--progress,0), #2838151a 0%);
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-self: center;

    transition: --progress 500ms;

    &::after{
        content: attr(aria-valuenow)"%";
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: inherit;
        width: calc(100% - var(--bar-width));
        aspect-ratio: 1 / 1;
        
        display: grid;
        place-items: center;
    }
}


.carousel-control-prev,
.carousel-control-next{
    margin-top: 6px;
    align-items: flex-start;
    height: fit-content;
}
.carousel-control-prev-icon{
    background-image: url("/static/icons/chevron_left_24dp_2C0404CC.svg");
}
.carousel-control-next-icon{
    background-image: url("/static/icons/navigate_next_24dp_2C0404CC.svg");
}


footer{
    margin: 0 auto;
}


@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}


.disciplina1{background-color: #fdb4f3 !important;}
.disciplina2{background-color: #b47eff !important;}
.disciplina3{background-color: #bcff93 !important;}
.disciplina4{background-color: #beeee1 !important;}
.disciplina5{background-color: #ff8e80 !important;}
.disciplina6{background-color: #f5cc5a !important;}
