#carrossel_disciplina {grid-area: carousel;}
#prox_conteudos {grid-area: next_content;}
#prox_semana {grid-area: next_week;}
#horario {grid-area: horario;}
#calendario {grid-area: calendar;}
#progresso {grid-area: progresso;}
#imagens {grid-area: imagens;}

.main-area{
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "carousel next_content"
        "carousel next_week";
}

main{
    display: grid;
    grid-template-areas: 
        "main main calendar"
        "main main progresso"   
        "horario horario imagens";
}