<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Esta será a pagina do dashboard</h1>

        <main>
            <div class="principal">
                <div class="disciplina">bloco de disciplina</div>
                <div class="proximos-conteudos">Proximos conteudos</div>
                <div class="entrega-proximas-semanas">Para entregar nas proximas semanas</div>
            </div>
            <div class="horarios">Horarios</div>
            <div class="calendario">Calendario</div>
            <div class="progresso">Progress</div>
            <div class="imagem-de-apoio">Imagem de apoio</div>
        </main>

        <footer> feito por Vitória Leda :D</footer>
    </body>
</html>