<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <style>
            body {
                background-color: #3a3b3c;
                color:#E0E0E0;
            }
        </style>
    </head>
    <body">
        <h1>Esta será a pagina do dashboard</h1>

        <main>
            <div class="principal">
                {% for index in range(tamanho) %}
                <div class="disciplina">bloco de disciplina</div>
                    <ul>
                        <li>
                            <h3>{{disciplinas[index].nome}}</h3>
                            <p>{{disciplinas[index].objetivo}}</p>
                        </li>
                    </ul>
                    <div class="proximos-conteudos">Proximos conteudos</div>
                    <ul>
                        {% for conteudo in conteudos %}
                            {% if (conteudo.disciplina_id_disciplina - 1) == index %}
                                <p>[ ] - {{conteudo.titulo}}</p>
                            {% endif %}
                        {% endfor%}

                    </ul>
                    <div class="entrega-proximas-semanas">Para entregar nas proximas semanas</div>
                </div>
                {% endfor %}
            <!-- <div class="horarios">Horarios</div>
            <div class="calendario">Calendario</div>
            <div class="progresso">Progress</div>
            <div class="imagem-de-apoio">Imagem de apoio</div> -->
        </main>

        <footer> feito por Vitória Leda :D</footer>
    </body>
</html>