<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    <div class="wrapper">
      
      
      <!-- Disciplina, proximos conteudos e proximas atividades -->
      <div class="main-area">
        <!-- Carrossel Disciplina -->
        <div id="carrossel-disciplina" class="carousel">
          
          <!-- Conteudo -->
          <div class="carousel-inner">
            <!-- Botoes carrossel -->
            <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carrossel-disciplina"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>

            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carrossel-disciplina"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

            {% for disciplina in disciplinas %}
            <div class="carousel-item">

              <h6 class="titulo-disciplina">{{disciplina.nome}}</h6>

              <div>
                <h6>Objetivo</h6>
                <p>{{disciplina.objetivo}}</p>
              </div>

              <div>
                <h6>Ementa</h6>

                <ul>
                  {% for conteudo in disciplina.ementa %}
                  <li>
                    <input
                      id="{{conteudo.id}}"
                      type="checkbox"
                      onchange="atualizaTodo(this)"
                    />
                    {{conteudo.nome}}
                  </li>
                  {% endfor %}
                </ul>

              </div>

              <div>
                <h6>Atividades</h6>
                <ul>

                  {% for atividade in disciplina.atividades %}
                  <li>
                    <input
                      id="{{atividade.id}}"
                      type="checkbox"
                      onchange="atualizaTodo(this)"
                    />
                    {{atividade.nome}} {{atividade.prazo}}
                  </li>
                  {% endfor %}

                </ul>
              </div>

            </div>
            {% endfor %}
          </div>
        </div>

        <!-- Card Proximos Conteudos -->
        <div id="proximos-conteudos">
          <h6>Proximos conteúdos:</h6>
          <ul>
            {% for conteudo in prox_conteudos %} {% if conteudo.concluido ==
            "False" %}
            <li>
              <input
                id="{{conteudo.id}}"
                type="checkbox"
                onchange="atualizaTodo(this)"
              /> {{conteudo.nome}} {{conteudo.disciplina}}
            </li>
            {% else %}
            <li>
              <input
                id="{{conteudo.id}}"
                type="checkbox"
                onchange="atualizaTodo(this)"
                checked
              /> {{conteudo.nome}} {{conteudo.disciplina}}
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>

        <!-- Card Proximas atividades -->
        <div id="proximas-atividades">
          <h6>Para entregar nas proximas semanas:</h6>
          <ul>
            {% for atividade in prox_atividades %} {% if atividade.concluido == "False" %}
            
            <li>
              <input
                id="{{atividade.id}}"
                type="checkbox"
                onchange="atualizaTodo(this)"
              />
              <div>
                <p>{{atividade.nome}}</p>
                <p>Prazo: {{atividade.prazo}}</p>
              </div>
            </li>

            {% else %}
            
            <li>
              <input
                id="{{atividade.id}}"
                type="checkbox"
                onchange="atualizaTodo(this)"
                checked
              />
              <div>
                {{atividade.nome}} 
                Prazo: {{atividade.prazo}}
              </div>
            </li>
            
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>

      {# restante do codigo
      
      <!-- Horario -->
      <table id="horario" class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Horários</th>
            <th scope="col">Segunda</th>
            <th scope="col">Terça</th>
            <th scope="col">Quarta</th>
            <th scope="col">Quinta</th>
            <th scope="col">Sexta</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th>13h00 - 13h50</th>
            <th>Sociedade e Informárica - Majin</th>
            <th>&#8213;</th>
            <th>&#8213;</th>
            <th>(Reposição de Aulas)</th>
            <th>Gerência e Projeto de Software - Aline</th>
          </tr>

          <tr>
            <th>13h50 - 14h40</th>
            <th>Sociedade e Informárica - Majin</th>
            <th>Desenv. de Sistemas Web 1 - Warley</th>
            <th>Desenv. de Sistemas Web 1 - Warley</th>
            <th>(Reposição de Aulas)</th>
            <th>Gerência e Projeto de Software - Aline</th>
          </tr>

          <tr>
            <th>14h40 - 15h30</th>
            <th>Comput. Gráfica e VR</th>
            <th>Desenv. de Sistemas Web 1 - Warley</th>
            <th>Desenv. de Sistemas Web 1 - Warley</th>
            <th>(Reposição de Aulas)</th>
            <th>Gerência e Projeto de Software - Aline</th>
          </tr>

          <tr>
            <th>15h50 - 16h40</th>
            <th>Comput. Gráfica e VR</th>
            <th>Redes de Computadores - Gleison</th>
            <th>Redes de Computadores - Gleison</th>
            <th>Comput. Gráfica e VR</th>
            <th>Gerência e Projeto de Software - Aline</th>
          </tr>

          <tr>
            <th>16h40 - 17h30</th>
            <th>Gestão de Informação - Idelvandro</th>
            <th>Redes de Computadores - Gleison</th>
            <th>Redes de Computadores - Gleison</th>
            <th>Comput. Gráfica e VR</th>
            <th>Gestão de Informação - Idelvandro</th>
          </tr>
          <tr>
            <th>17h30 - 18h20</th>
            <th>Gestão de Informação - Idelvandro</th>
            <th>Redes de Computadores - Gleison</th>
            <th>Redes de Computadores - Gleison</th>
            <th>Comput. Gráfica e VR</th>
            <th>Gestão de Informação - Idelvandro</th>
          </tr>
        </tbody>
      </table>

      <!-- Calendario -->
      <div id="calendar" style="width: 276px"></div>

      <!-- Progresso -->
      <div id="progresso">
        <h6>Progresso do mês</h6>
        <h1>{{(progresso.concluidas/progresso.total * 100)|round|int}}%</h1>
        <h3>{{progresso.concluidas}}/{{progresso.total}}</h3>
        <progress value="{{progresso.concluidas}}" max="{{progresso.total}}" />
      </div>
      

      <!-- Imagens -->
      <div id="imagens" class="carousel slide" data-bs-ride="carousel" style="">
        <div class="carousel-inner">
            <img
            width="308px"
            height="290px"
            style="object-fit: cover"
            src="https://i.ytimg.com/vi/SQJrYw1QvSQ/maxresdefault.jpg"
            class="carousel-item active"
          />
          <img
            width="308px"
            height="290px"
            style="object-fit: cover"
            src="https://images7.memedroid.com/images/UPLOADED661/6417b7fd50741.jpeg"
            class="carousel-item"
          />
          <img
            width="308px"
            height="290px"
            style="object-fit: cover"
            src="https://i.pinimg.com/236x/11/64/07/11640755def7c2c40d8d5211c4f25913.jpg"
            class="carousel-item"
          />
        </div> 
      </div>
      #}
    </div>
    
    <script src="/static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script>
      // Inicializa carrossel Disciplina
      const carrosselDisciplina = document.querySelector("#carrossel-disciplina")

      const carousel = new bootstrap.Carousel(carrosselDisciplina, {
        interval: 2000,
        touch: false
      })

      // Inicia carrossel Imagens
      const carrosselImagem = document.querySelector("#disciplinas")

      const carouselImagens = new bootstrap.Carousel(carrosselImagem, {
        interval: 2000,
        touch: false
      })
    </script>
  </body>
</html>
