<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    <div class="wrapper">
      
      <!-- Disciplina, proximos conteudos e proximas atividades -->
      <div class="main-area">
        <!-- Carrossel Disciplina -->
        <div id="carrossel-disciplina" class="carousel">
          
          <!-- Conteudo -->
          <div class="carousel-inner">
            <!-- Botoes carrossel -->
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carrossel-disciplina"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>

            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carrossel-disciplina"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

            {% for disciplina in disciplinas %}
            <div class="carousel-item">

              <h6 class="titulo-disciplina disciplina{{disciplina.id}}">{{disciplina.nome}}</h6>

              <div class="conteudos">
                <div>
                  <h6>Objetivo</h6>
                  <p>{{disciplina.objetivo}}</p>
                </div>

                <div>
                  <h6>Ementa</h6>

                  <ul>
                    {% for conteudo in disciplina.ementa %}
                    {% if conteudo.concluido == "False"%}
                    <li>
                      <input
                        id="{{conteudo.id}}"
                        type="checkbox"
                        onchange="atualizaTodo(this)"
                      />
                      <p>{{conteudo.nome}}</p>
                    </li>
                    {% else %}
                    <li>
                      <input
                        id="{{conteudo.id}}"
                        type="checkbox"
                        onchange="atualizaTodo(this)"
                        checked
                      />
                      <p>{{conteudo.nome}}</p>
                    </li>
                    {% endif %}
                    {% endfor %}
                  </ul>

                </div>

                <div>
                  <h6>Atividades</h6>
                  <ul>

                    {% for atividade in disciplina.atividades %}
                    <li>
                      <input
                        id="{{atividade.id}}"
                        type="checkbox"
                        onchange="atualizaTodo(this)"
                      />
                      {{atividade.nome}} {{atividade.prazo}}
                    </li>
                    {% endfor %}

                  </ul>
                </div>
              </div>

            </div>
            {% endfor %}
          </div>
        </div>

        <!-- Card Proximos Conteudos -->
        <div id="proximos-conteudos">
          <h6>Proximos conteúdos:</h6>
          <ul>
            {% for conteudo in prox_conteudos %} {% if conteudo.concluido ==
            "False" %}
            <li>
              <input
                id="{{conteudo.id}}"
                type="checkbox"
                onchange="atualizaTodo(this)"
              />
              <div class="linha-vertical disciplina{{conteudo.disciplina}}"></div>
              <p class="lh-sm">{{conteudo.nome}} {{conteudo.disciplina}}</p>
            </li>
            {% else %}
            <li>
              <input
                id="{{conteudo.id}}"
                type="checkbox"
                onchange="atualizaTodo(this)"
                checked
              />
              <div class="linha-vertical disciplina{{conteudo.disciplina}}"></div>
              <p class="lh-sm">{{conteudo.nome}} {{conteudo.disciplina}}</p>
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>

        <!-- Card Proximas atividades -->
        <div id="proximas-atividades">
          <h6>Para essa semana:</h6>
          <ul>
            {% for atividade in prox_atividades %} {% if atividade.concluido == "False" %}
            
            <li>
              <input
                id="{{atividade.id}}"
                type="checkbox"
                onchange="atualizaTodo(this)"
              /></input>
              <div class="linha-vertical disciplina{{atividade.disciplina}}"></div>
              <div class="lh-sm">
                <p>{{atividade.nome}}</p>
                <p class="text-muted">Prazo: {{atividade.prazo}}</p>
              </div>

            </li>

            {% else %}
            
            <li>
              <input
                id="{{atividade.id}}"
                type="checkbox"
                onchange="atualizaTodo(this)"
                checked
              >
              </input>
              <div class="linha-vertical disciplina{{atividade.disciplina}}"></div>
              <div class="lh-sm">
                <p>{{atividade.nome}}</p>
                <p class="text-muted small">Prazo: {{atividade.prazo}}</p>
              </div>
            </li>
            
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>

      {# restante do codigo
      
      <!-- Horario e Imagem -->
      <div class="d-flex">
        <!-- Horario -->
        <div class="horario">
          <table id="horario" class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Horários</th>
                <th scope="col">Segunda</th>
                <th scope="col">Terça</th>
                <th scope="col">Quarta</th>
                <th scope="col">Quinta</th>
                <th scope="col">Sexta</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>13h00 - 13h50</td>
                <td class="disciplina2">Sociedade e Informárica</td>
                <td>&#8213;</td>
                <td>&#8213;</td>
                <td>(Reposição de Aulas)</td>
                <td class="disciplina1">Gerência e Projeto de Software</td>
              </tr>

              <tr>
                <td>13h50 - 14h40</td>
                <td class="disciplina2">Sociedade e Informárica</td>
                <td class="disciplina4">Desenv. de Sistemas Web 1</td>
                <td class="disciplina4">Desenv. de Sistemas Web 1</td>
                <td>(Reposição de Aulas)</td>
                <td class="disciplina1">Gerência e Projeto de Software</td>
              </tr>

              <tr>
                <td>14h40 - 15h30</td>
                <td class="disciplina6">Comput. Gráfica e VR</td>
                <td class="disciplina4">Desenv. de Sistemas Web 1</td>
                <td class="disciplina4">Desenv. de Sistemas Web 1</td>
                <td>(Reposição de Aulas)</td>
                <td class="disciplina1">Gerência e Projeto de Software</td>
              </tr>

              <tr>
                <td>15h50 - 16h40</td>
                <td class="disciplina6">Comput. Gráfica e VR</td>
                <td class="disciplina5">Redes de Computadores</td>
                <td class="disciplina5">Redes de Computadores</td>
                <td class="disciplina6">Comput. Gráfica e VR</td>
                <td class="disciplina1">Gerência e Projeto de Software</td>
              </tr>

              <tr>
                <td>16h40 - 17h30</td>
                <td class="disciplina3">Gestão de Informação</td>
                <td class="disciplina5">Redes de Computadores</td>
                <td class="disciplina5">Redes de Computadores</td>
                <td class="disciplina6">Comput. Gráfica e VR</td>
                <td class="disciplina3">Gestão de Informação</td>
              </tr>
              <tr>
                <td>17h30 - 18h20</td>
                <td class="disciplina3">Gestão de Informação</td>
                <td class="disciplina5">Redes de Computadores</td>
                <td class="disciplina5">Redes de Computadores</td>
                <td class="disciplina6">Comput. Gráfica e VR</td>
                <td class="disciplina3">Gestão de Informação</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Imagens -->
        <div id="imagens" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
              <img
              width="308px"
              height="290px"
              src="https://i.ytimg.com/vi/SQJrYw1QvSQ/maxresdefault.jpg"
              class="carousel-item active"
            />
            <img
              width="308px"
              height="290px"
              src="https://images7.memedroid.com/images/UPLOADED661/6417b7fd50741.jpeg"
              class="carousel-item"
            />
            <img
              width="308px"
              height="290px"
              src="https://i.pinimg.com/236x/11/64/07/11640755def7c2c40d8d5211c4f25913.jpg"
              class="carousel-item"
            />
          </div> 
        </div>
      </div>


      <!-- Calendario -->
      <div id="calendar" style="width: 276px"></div>
      #}
      <!-- Progresso -->
      <div id="progresso">
        <h6>Progresso do mês</h6>

        <button onclick="">clica</button>
      </div>
      
      
    </div>
    
    <script src="/static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script>
      // Inicializa carrossel Disciplina
      const carrosselDisciplina = document.querySelector("#carrossel-disciplina")

      const carousel = new bootstrap.Carousel(carrosselDisciplina, {
        interval: 2000,
        touch: false
      })

      // Inicia carrossel Imagens
      const carrosselImagem = document.querySelector("#disciplinas")

      const carouselImagens = new bootstrap.Carousel(carrosselImagem, {
        interval: 2000,
        touch: false
      })
    </script>
  </body>
</html>
